.wrapper {
  width: 100%;
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  height: var(--default-layout-header-height, 60px);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  background-color: gray;
}
